################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/Client/bin
/Client/Client/obj
/Client/Client.iOS/bin
/Client/Client.iOS/obj
/Client/Client.Android/bin
/Client/Client.Android/obj